<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>C.H.I.M.P.</h1>
	<p>
  	Comp Help Inventory Management Program
	</p>

	<%= link_to "Checkout", checkout_path, class: "btn btn-large btn-primary"%>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>