<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>C.H.I.M.P.</h1>
	<h4>
  	Comp Help Inventory Management Program
	</h4>

	<%= link_to "Checkout", checkout_path, class: "btn btn-large btn-inverse"%>
	<%= link_to "Return", show_path, class: "btn btn-large btn-inverse"%>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>